@model KoleksiyoncuCom.WebUi.Models.HomePageProductListViewModel
@{
    ViewData["Title"] = "Anasayfa | Koleksiyoncu";
    Layout = "~/Views/_Layout.cshtml";
}
    <div class="jumbotron">
        <div class="container">
            <h1 class="display-3">Merhaba, Koleksiyoncu!</h1>
            <p>Koleksiyoncuların daha güvenilir alışveriş yapması amacıyla kurulmuş aracı sayfayız. Sistemin nasıl işlediğini öğrenmek için aşağıdaki butona bas!</p>
            <p><a class="btn btn-success btn-lg" href="#" role="button">Nasıl Çalışır? &raquo;</a></p>
        </div>
    </div>

<h1>Son Eklenenler</h1>
<partial name="_products" />



